<% if @matches.count == 0 %>
  <h3 class='match_head'>You havent played any matches yet! What are you doing go play a match and then check your stats.</h3>
  <h3 class="match_head" style="margin-top: 40px"><%= link_to "Play Match", play_path, style: "color: #FFD90F" %></h3>
<% else %>
<div class="text-center">
    <% @matches.each do |match| %>
        <div class="card-body flblock">
        <h2 class="card-title"><%= match.team.name %> <h5 class="card-text"><%= match.baskets_team_1 %></h5> <h3 class="card-title">Vs.</h3> <h5 class="card-text"><%= match.baskets_team_2 %></h5> <h2 class="card-title"><%= match.away_team.name %></h2></h2>
        <h5 class="card-text"></h5>
        <%= form_tag(match_path(match), method: :get) do%>
            <%= hidden_field_tag :played, '1' %>
            <%= submit_tag "See Stats", class:"btn btn-outline-warning"%>
        <%end%>
        </div>

    <% end %>
</div>

<% end %>
