<h3>Log in</h3>

<% if flash[:invalid] %>
  <%= flash[:invalid] %>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit "Log in" %>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
