

<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<h3 class="text-center mx-auto" style="width:50%">Update your Profile</h3>
<div class="form-login text-center mx-auto" style="width:30%;">
<%= form_for(@user) do |f| %>
  <%= f.label :name, class:"teamdisplay" %>
  <%= f.text_field :name, class:"form-control input-sm chat-input", style:"margin-bottom:5px" %>
  <%= f.label :username, class:"teamdisplay"  %>
  <%= f.text_field :username, class:"form-control input-sm chat-input", style:"margin-bottom:5px"%>
  <%= f.label :password, class:"teamdisplay"  %>
  <%= f.password_field :password, class:"form-control input-sm chat-input", style:"margin-bottom:5px"%>
  <%= f.label :password_confirmation, class:"teamdisplay"  %>
  <%= f.password_field :password_confirmation, class:"form-control input-sm chat-input", style:"margin-bottom:5px"%>

  <%= f.submit "Save changes", class: "btn btn-warning", style:"margin-top:10px", style:"margin-bottom:5px"%>
<% end %>
