<h3>Create a User Profile:</h3>

<% if flash[:errors] %>
  <div>
    <% flash[:errors].each do |error| %>
      <p class="alert alert-warning" role="alert"> <%= error %> </p>
    <% end %>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Create my account" %>
<% end %>
