<% if flash[:success] %>
  <%= flash[:success] %>
<% elsif flash[:valid] %>
  <%= flash[:valid] %>
<% end %>

<% provide(:title, @user.first_name) %>

<h3>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h3>

<%= link_to 'Create a new team', new_team_url %>

<p>Team Name:</p>
<p>Team:</p>
