<% if flash[:success] %>
  <%= flash[:success] %>
<% elsif flash[:valid] %>
  <%= flash[:valid] %>
<% end %>

<% provide(:title, @user.first_name) %>

<h3>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h3>

<%= link_to 'Create your team!', new_team_path %>

<% if @team != nil %>
  <p>Team Name: <%= @team.name %></p>
  <p>Players: <%= %></p>
<% end %>
