<% if flash[:success] %>
  <%= flash[:success] %>
<% elsif flash[:valid] %>
  <%= flash[:valid] %>
<% elsif flash[:update] %>
  <%= flash[:update] %>
<% end %>

<% provide(:title, @user.first_name) %>

<h3>
  <%= @user.name %>
</h3>


<% if @team != nil %>
  <p>Team Name: <%= @team.name %></p>
  <p>Current Budget: £<%= @user.current_budget %></p>
  <p>Players:</p>
<div class="card-columns">
  <% @team.team_players.each do |team_player|%>
    <div class="card bg-info mb-3">
      <%= image_tag team_player.player.image, class: "card-img-top" %>
      <div class="card text-center bg-warning mb-3">
        <h5 class="card-title"><%= team_player.player.name%></h5>
        <h6 class="card-subtitle mb-2 lead">"<%=team_player.player.catchphrase%>"</h6>
        <p class="card-text">Height: <%= team_player.player.height%></p>
        <p class="card-text">Rating: <%= team_player.rating%></p>
        <p class="card-text">Total Baskets Scored: <%=team_player.totalbaskets%>
      </div>
    </div>
    <% end %>
  </div>
  <% if @team.players.count < 5 %>
    <%= link_to "Add more players", selectplayers_path %>
  <% end %>
<% else %>
  <h5>Current budget: £<%= @user.budget %></h5>
  <%= link_to 'Create your team!', new_team_path %>
<%end%>
