<div class="row mx-auto bg-light" style="width:700px; padding:10px">

<%= image_tag @player.image, class: "col md-8 mx-auto", style:"width:200px;" %>
 <div class="col-lg-6" style="width:400px">
  <h2 class="text-center" style="font-size:3rem"><%= @player.name%></h2>
<h4 class="lead text-center">"<%=@player.catchphrase%>"</h4>
<div class ="row text-center">
 <dt class="col sm-2"><h6>Height:</h6></dt> <dd class="col sm-2"><%= @player.height%></dd>
 <dt class="col sm-2"><h6>Rating:</h6></dt><dd class="col sm-2"><%= @player.baserating%></dd>
</div>
</div>
</div>