
<h1 class="match_head">Match Number <%=@match.id%></h1>

<% if @played == nil %>
<div class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm">
      <h3 class="match_head"><%=@match.team.name%></h3>
    </div>
    <div class="col-2">
      <h4 class="match_head">Vs.</h4>
    </div>
    <div class="col-sm">
      <h3 class="match_head"><%=@match.away_team.name%></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm">
        <%@hometeam.each do |player|%>
          <h6 style="text-align: center;"><%=player.name%></h6>
        <%end%>
      </div>
    <div class="col-1">
      <%@hometeam.each do |player|%>
        <h6 style="text-align: left;"><%=player.rating%></h6>
      <%end%>
    </div>
    <div class="col-1">
      <%@awayteam.each do |player|%>
        <h6 style="text-align: right;"><%=player.rating%></h6>
      <%end%>
    </div>
    <div class="col-sm">
      <%@awayteam.each do |player|%>
        <h6 style="text-align: center;"><%=player.name%></h6>
      <%end%>
    </div>
  </div>
</div>
<div style="text-align: center; padding-top: 30px;">
  <%= form_tag("/play", method: :post)%>
  <%= hidden_field_tag :match_id, @match.id %>
  <%= hidden_field_tag :game_played, true %>
  <%= submit_tag "Play Game!", class:"btn btn-outline-info"%>
</div>

<% elsif @played == "true" %>
<div class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm">
      <h3 class="match_head"><%=@match.team.name%></h3>
    </div>
    <div class="col-1">
      <h3 class="match_head"><%=@match.baskets_team_1%></h3>
    </div>
    <div class="col-1">
      <h4 class="match_head">Vs.</h4>
    </div>
    <div class="col-1">
      <h3 class="match_head"><%=@match.baskets_team_2%></h3>
    </div>
    <div class="col-sm">
      <h3 class="match_head"><%=@match.away_team.name%></h3>
    </div>
  </div>

  <div class="container" style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-sm">
          <%@hometeam.each do |player|%>
            <% if player.name == @match.mvp_name && player.team == @match.mvp.team %>
              <h6 style="text-align: center; color: #FFD90F;"><%=player.name%> (MVP)</h6>
            <% else %>
              <h6 style="text-align: center;"><%=player.name%></h6>
            <% end %>
          <%end%>
        </div>
      <div class="col-1">
        <%@hometeam.each do |player|%>
          <% if player.name == @match.mvp_name && player.team == @match.mvp.team %>
            <h6 style="text-align: left; color: #FFD90F;"><%=player.matchbaskets%></h6>
          <% else %>
            <h6 style="text-align: left;"><%=player.matchbaskets%></h6>
          <% end %>
        <%end%>
      </div>
      <div class="col-1">
        <%@awayteam.each do |player|%>
          <% if player.name == @match.mvp_name && player.team == @match.mvp.team %>
            <h6 style="text-align: right; color: #FFD90F;"><%=player.matchbaskets%></h6>
          <% else %>
            <h6 style="text-align: right;"><%=player.matchbaskets%></h6>
          <% end %>
        <%end%>
      </div>
      <div class="col-sm">
        <%@awayteam.each do |player|%>
        <% if player.name == @match.mvp_name && player.team == @match.mvp.team %>
          <h6 style="text-align: center; color: #FFD90F;"><%=player.name%></h6>
          <% else %>
          <h6 style="text-align: center;"><%=player.name%></h6>
          <% end %>
        <%end%>
      </div>
      <% end %>
    </div>
  </div>

  <h4 class="match_head">MVP <%=@match.mvp_name%></h4>
