<% if flash[:team_not_full] %>
  <h2 class='text-center'>Your team only has <%= pluralize(@match.team.players.count, 'player') %>! You need 5 to take on other teams so get picking <%= link_to 'here', selectplayers_path, style: "color: #FFD90F"%></h2>
<% else %>

  <h1 class="match_head">Match Number <%=@match.id%></h1>

  <% if @played == "false" %>
  <div class="container" style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-sm">
        <h3 class="match_head"><%=@match.team.name%></h3>
      </div>
      <div class="col-2">
        <h4 class="match_head">Vs.</h4>
      </div>
      <div class="col-sm">
        <h3 class="match_head"><%=@match.away_team.name%></h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-bottom: 40px;">
      <div class="col" style="text-align: center;">
        <h4>Location<span class="alt-text">:</span> <%= @location %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h5 class="match_head">Players</h5>
      </div>
      <div class="col-2">
        <h5 class="match_head">Ratings</h5>
      </div>
      <div class="col-sm">
        <h5 class="match_head">Players</h5>
      </div>
    </div>
    <div class="row">
        <div class="col-sm" style="text-align: center;">
          <%@hometeam.each do |player|%>
            <h6><%=player.name%></h6>
          <%end%>
        </div>
      <div class="col-1" style="text-align: left;">
        <%@hometeam.each do |player|%>
          <h6><%=player.rating%></h6>
        <%end%>
      </div>
      <div class="col-1">
        <%@awayteam.each do |player|%>
          <h6 style="text-align: right;"><%=player.rating%></h6>
        <%end%>
      </div>
      <div class="col-sm">
        <%@awayteam.each do |player|%>
          <h6 style="text-align: center;"><%=player.name%></h6>
        <%end%>
      </div>
    </div>
  </div>
  <div style="text-align: center; padding-top: 30px;">
    <%= form_tag("/play", method: :post)%>
    <%= hidden_field_tag :match_id, @match.id %>
    <%= hidden_field_tag :game_played, true %>
    <%= submit_tag "Play Game!", class:"btn btn-warning"%>
  </div>

  <% elsif @played == "true" %>
  <div class="container" style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-sm">
        <h3 class="match_head"><%=@match.team.name%></h3>
      </div>
      <div class="col-1">
        <h3 class="match_head"><%=@match.baskets_team_1%></h3>
      </div>
      <div class="col-1">
        <h4 class="match_head">Vs.</h4>
      </div>
      <div class="col-1">
        <h3 class="match_head"><%=@match.baskets_team_2%></h3>
      </div>
      <div class="col-sm">
        <h3 class="match_head"><%=@match.away_team.name%></h3>
      </div>
    </div>

    <div class="container" style="margin-bottom: 30px;">
      <div class="row">
        <div class="col-sm">
          <h5 class="match_head">Players</h5>
        </div>
        <div class="col-2">
          <h5 class="match_head">Baskets</h5>
        </div>
        <div class="col-sm">
          <h5 class="match_head">Players</h5>
        </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <%@hometeam.each do |player|%>
              <% if player == @match.mvp && player.team == @match.mvp.team %>
                <h6 style="text-align: center; color: #FFD700;"><%=player.name%></h6>
              <% else %>
                <h6 style="text-align: center;"><%=player.name%></h6>
              <% end %>
            <%end%>
          </div>
        <div class="col-1">
          <%@hometeam.each do |player|%>
            <% if player == @match.mvp && player.team == @match.mvp.team %>
              <h6 style="text-align: left; color: #FFD700;"><%=player.matchbaskets%></h6>
            <% else %>
              <h6 style="text-align: left;"><%=player.matchbaskets%></h6>
            <% end %>
          <%end%>
        </div>
        <div class="col-1">
          <%@awayteam.each do |player|%>
            <% if player == @match.mvp && player.team == @match.mvp.team %>
              <h6 style="text-align: right; color: #FFD700;"><%=player.matchbaskets%></h6>
            <% else %>
              <h6 style="text-align: right;"><%=player.matchbaskets%></h6>
            <% end %>
          <%end%>
        </div>
        <div class="col-sm">
          <%@awayteam.each do |player|%>
          <% if player == @match.mvp && player.team == @match.mvp.team %>
            <h6 style="text-align: center; color: #FFD700;"><%=player.name%></h6>
            <% else %>
            <h6 style="text-align: center;"><%=player.name%></h6>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>

    <h5 style="text-align: center;">MVP: <%= @match.mvp_name %></h5>


  <% end %>

<% end %>
