<h1>Match Number <%=@match.id%></h1>
<h4>Home Team: <%=@match.team.name%></h4>
<h4>Away Team: <%=@match.away_team.name%></h4>


<%@hometeam.team_players.each do |player|%>
<%=player.name%><%=player.rating%>
<%end%>
<%@awayteam.team_players.each do |player|%>
<%=player.name%><%=player.rating%>
<%end%>

<%= form_tag("/play", method: :post)%>
    <%= hidden_field_tag :match_id, @match.id %>
<%= submit_tag "Play Game!" %>