<html>
  <head>
    <title>FantasySimpsonsBasketball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: rgba(248,249,250,0.7);">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="<%= user_path(@user) %>">My Team</a>
              <a class="dropdown-item" href="<%= edit_team_path(@user.id) %>">Edit My Team</a>
              <a class="dropdown-item" href="<%= edit_user_path(@user) %>">Edit Account</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/players">All Players <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams">Other Teams</a>
          </li>
          <% if @team.players.count == 5 %>
            <li class="nav-item">
              <a class="nav-link" href="/teams">Play Match</a>
            </li>
          <% end %>
        </ul>
        <span class="navbar-text">
          Your current budget is: <span class="alt-text">£</span><%= @user.current_budget %>
        </span>
      </div>
    </nav>
    <h1 class ="text-center ws-ht" style="padding-top :10px">Simpson Fantasy Basketball</h1>

  <div class="container w-75 p-3 ws-ht">

    <%= yield %>
    </div>
  </body>
</html>
