<html>
  <head>
    <title>FantasySimpsonsBasketball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container w-75 p-3">
    <h1 class ="text-center">Simpson Fantasy Basketball</h1>
    <%= session[:user_id] ? session[:user_id] : "no user" %><br>

    <%= yield %>
    </div>
  </body>
</html>
