<!DOCTYPE html>
<html>
  <head>
    <title>FantasySimpsonsBasketball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
<<<<<<< HEAD
=======
  <div class="container w-75 p-3">
>>>>>>> 6d652daa75cacdcdb0ed702283e5eab9a7970977
    <h1 class ="text-center">Simpson Fantasy Basketball</h1>
  <div class="container w-75 p-3">
    <%= session[:user_id] ? session[:user_id] : "no user" %><br>

    <%= yield %>
    </div>
  </body>
</html>
