<!DOCTYPE html>
<html>
  <head>
    <title>FantasySimpsonsBasketball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Log out", logout_path, method: :delete %>
    <h1>Simpson Fantasy Basketball</h1>
    <%= session[:user_id] ? session[:user_id] : "no user" %><br>
    <%= yield %>
  </body>
</html>
